@model WebApplication1.Models.Book;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Book Index Page></h1>
<h2>@ViewBag.Heading</h2>   
@Model.BookId <br/>
@Model.Title  <br/>